#skills {
    width: 150px;
    height: 100px;
    background: none;
    border: none;
    fill: none;
    stroke: #016fb9;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
}